.floatingBlobs {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(60px);
  opacity: 0.50;
  animation: blobFloat 18s ease-in-out infinite;
}

.blob:nth-child(1) {
  width: 280px;
  height: 280px;
  background: rgba(13, 148, 136, 0.4);
  top: 10%;
  left: 5%;
  animation-duration: 20s;
  animation-delay: 0s;
}

.blob:nth-child(2) {
  width: 220px;
  height: 220px;
  background: rgba(251, 146, 60, 0.35);
  top: 60%;
  right: 10%;
  animation-duration: 16s;
  animation-delay: -5s;
}

.blob:nth-child(3) {
  width: 200px;
  height: 200px;
  background: rgba(99, 102, 241, 0.3);
  bottom: 15%;
  left: 15%;
  animation-duration: 22s;
  animation-delay: -10s;
}

.blob:nth-child(4) {
  width: 180px;
  height: 180px;
  background: rgba(236, 72, 153, 0.25);
  top: 30%;
  right: 25%;
  animation-duration: 14s;
  animation-delay: -3s;
}

@keyframes blobFloat {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(20px, -30px) scale(1.05);
  }
  50% {
    transform: translate(-15px, 20px) scale(0.95);
  }
  75% {
    transform: translate(25px, 15px) scale(1.02);
  }
}

.main {
  position: relative;
  z-index: 0;
}
